<h1>List of Articles</h1>
  <% @articles.each do |article| %>
	<% @users.each do |user| %>

<dl>
		<% if user.articles.all.include?(article) == true %>
    <dt><%= link_to article.title, user_article_path(user.id, article.id) %></dt>
    <%= link_to user.name, user_path(user.id) %>
    <dd><%= truncate(article.body, length: 80) %></dd>
    <% end %>

  <% end %>
  <% end %>
</dl>



