<h1>Users : Index</h1>
<h3><%= link_to 'New User', new_user_path %></h3>
<ul>
	<% @users.each do |user|%>
		<li><%= link_to user.name, user_path(user.id) %></li>
	<% end %>
</ul>



<h3><%= link_to "Homepage", root_path %></h3>
